.white-box-input{
    color:white;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    border:1px solid white;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    box-sizing: border-box;
}

.white-box-input:focus{
    border:1px solid grey;
}



.white-box-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }
  
.white-box-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
  }
  
.white-box-input ::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
  }

  @media only screen and (min-width: 500px) {
    .white-box-input-large{
        font-size:22px;
    }
}

@media only screen and (min-width: 500px) {
    .white-box-input-medium{
        font-size:18px;
    }
}